/** 
* Online Bio layout
**/

body {
    width: 960px;
    background-image: url("../../images/swirl_pattern.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    margin: auto;
}

header {
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* float: left; */
}

.nav li {
    display: inline-block;
    list-style: none;
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
    /* float: right; */
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    margin: auto;
    min-height: 100%;
    margin-bottom: -50px;
}

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    margin: auto;
    min-height: 100%;
    margin-bottom: -50px;
}

.wrapper_port {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    margin: auto;
    min-height: 100%;
    margin-bottom: -50px;
}

h2 {
    color: #4aaaa5;
}

#main-bio,
#bio-image {
    float: left;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

.hangman {
    width: 350px;
    height: 350px;
    float: left;
}

.hangman_label {
    background: #4aaaa5;
    color: white;
    width: 350px;
}

.rpg-game {
    width: 350px;
    height: 350px;
    float:  right;
}

.rpg_label {
    background: #4aaaa5;
    color: white;
    width: 350px;
}

.trivia {
    width: 350px;
    height: 350px;
    float: left;
}

.trivia_label {
    background: #4aaaa5;
    color: white;
    width: 350px;
}

.rutgers {
    width: 350px;
    height: 350px;
    float:  right;
}

.rutgers_label {
    background: #4aaaa5;
    color: white;
    width: 350px;
}

.rock {
    width: 350px;
    height: 350px;
    float: left;
}

.rock_label {
    background: #4aaaa5;
    color: white;
    width: 350px;
}

.footer 
.push {
    text-align: center;
    height: 50px;
    margin-top: -50px;
}