/** 
* Online Bio layout
**/

body {
    width: 960px;
    background-image: url('images/swirl_pattern.png');
    /* background-color: black; */
}

header {
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #4aaaa5;
}

#main-bio,
#bio-image {
    float: left;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

.port_images {
    width: 272px;
    height: 204px;
}

footer {
    text-align: center;
}